{% extends "base-events.html" %}

{% block title %}Post an Event{% endblock %}

{% block content %}
  <h2 class="font-lexend font-semibold text-4xl text-black mb-8 p-4 pl-16"> Post an Event!</h2>
  <form action="/create_event" method="post" enctype="multipart/form-data" class="flex pl-8">
    <div class="flex flex-col max-w-3xl flex-1 mr-8">
      <!-- Event Name -->
      <div class="grid grid-col grid-cols-2 pl-8 pr-8">
        <div class="flex flex-col span-1 pr-2">
          <label for="event_name" class="font-lexend font-semibold text-gray-700 text-xl pb-4">Event Name:</label>
          <input id="event_name" name="event_name" type="text" placeholder="Event Name"
            class="w-full h-10 mb-4 bg-white border border-gray-400 rounded-md text-gray-400 px-4 py-1.5 focus:border-indigo-500" required>
        </div>
        <div class="flex flex-col span-1 pl-2">
          <label for="organization" class="font-lexend font-semibold text-gray-700 text-xl pb-4">Event Host:</label>
          <input id="organization" name="organization" type="text" placeholder="Host/Organization "
            class="w-full h-10 mb-4 bg-white border border-gray-400 rounded-md text-gray-400 px-4 py-1.5 focus:border-indigo-500" required>
        </div>
      </div>

      <!-- Date, Start Time, End Time -->
      <div class="flex flex-row space-x-20 pl-8 pr-8 justify-between">
        <!-- Date -->
        <div class="flex flex-col">
          <label for="date" class="font-lexend font-semibold text-gray-700 text-xl pb-4">Date:</label>
          <input type="date"
            class="w-full h-10 mb-4 bg-white border border-gray-400 rounded-md text-gray-400 px-4 py-1.5" id="date"
            name="date" value="{{ tomorrow }}" min="{{ tomorrow }}" />
        </div>
        <!-- Start Time -->
        <div class="flex flex-col relative">
          <label for="start-time" class="font-lexend font-semibold text-gray-700 text-xl pb-4">Start Time:</label>
          <div class="flex space-x-2 w-full h-10 mb-4 bg-white border border-gray-400 rounded-md text-gray-400 px-4 py-1.5">
              <select name="start-time" id="start-time" class="peer block min-h-[auto] w-24 rounded border-0 bg-transparent outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0">
                  <option value="09">9 AM</option>
                  <option value="10">10 AM</option>
                  <option value="11">11 AM</option>
                  <option value="12">12 PM</option>
                  <option value="13">1 PM</option>
                  <option value="14">2 PM</option>
                  <option value="15">3 PM</option>
                  <option value="16">4 PM</option>
                  <option value="16">5 PM</option>
                  <option value="16">6 PM</option>
                  <option value="16">7 PM</option>
                  <option value="16">8 PM</option>
                  <option value="16">9 PM</option>
              </select>
          </div>
       </div>
      
        <!-- End Time -->
        <div class="flex flex-col relative">
          <label for="end-time" class="font-lexend font-semibold text-gray-700 text-xl pb-4">End Time:</label>
          <div class="flex space-x-2 w-full h-10 mb-4 bg-white border border-gray-400 rounded-md text-gray-400 px-4 py-1.5">
              <select name="end-time" id="end-time" class="peer block min-h-[auto] w-24 rounded border-0 bg-transparent outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0">
                  <option value="10">10 AM</option>
                  <option value="11">11 AM</option>
                  <option value="12">12 PM</option>
                  <option value="13">1 PM</option>
                  <option value="14">2 PM</option>
                  <option value="15">3 PM</option>
                  <option value="16">4 PM</option>
                  <option value="16">5 PM</option>
                  <option value="16">6 PM</option>
                  <option value="16">7 PM</option>
                  <option value="16">8 PM</option>
                  <option value="16">9 PM</option>
              </select>
          </div>
       </div>
      </div>

      <!-- Address and Room -->
      <div class="grid grid-cols-3 gap-4 pl-8 pr-8">
        <!-- Address -->
        <div class="flex flex-col col-span-2">
          <label for="location" class="font-lexend font-semibold text-gray-700 text-xl pb-4">Address:</label>
          <input id="location" name="location" type="text" placeholder="Address"
            class="w-full h-10 mb-4 bg-white border border-gray-400 rounded-md text-gray-400 px-4 py-1.5" required>
        </div>
        <!-- Room -->
        <div class="flex flex-col">
          <label for="room" class="font-lexend font-semibold text-gray-700 text-xl pb-4">Room:</label>
          <input id="room" name="room" type="text" placeholder="Room"
            class="w-full h-10 mb-4 bg-white border border-gray-400 rounded-md text-gray-400 px-4 py-1.5" required>
        </div>
      </div>
      <div class="flex flex-row align-top justify-between">
        <div class="flex flex-col p-8">
          <fieldset>
            <legend class="font-lexend font-semibold text-gray-700 text-xl">Allow Comments:</legend>
            <div class="mt-6 space-y-3">
              <div class="flex items-center gap-x-3">
                <input id="push-yes" name="allow-comments" type="radio" required
                  class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                <label for="push-yes" class="block text-sm font-large leading-6 text-gray-900 font-semibold">Yes</label>
              </div>
              <div class="flex items-center gap-x-3">
                <input id="push-no" name="allow-comments" type="radio" required
                  class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                <label for="push-no" class="block text-sm font-xl leading-6 text-gray-900 font-semibold">No</label>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="flex flex-col p-8">
          <label for="capacity" class="font-lexend font-semibold text-gray-700 text-xl pb-4">Capacity:</label>
          <input type="number"
            class="w-full h-10 mb-4 bg-white border border-gray-400 rounded-md text-gray-400 px-4 py-1.5" id="capacity"
            name="capacity" min="5" max="1000" required />
        </div>
        
      </div>
      <div class="flex flex-col w-full p-8">
        <div class="flex flex-col">
          <label for="cover-photo" class="font-lexend font-semibold text-gray-700 text-xl pb-4">Cover photo</label>
          <div class="mt-2 flex justify-center rounded-lg border border-dashed border-black px-6 py-10 h-64 flex-col justify-center">
            <div class="text-center">
              <!-- Image Preview -->
              <svg id="upload-icon" class="mx-auto h-12 w-12 text-gray-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd"></path>
            </svg>
            <img id="image-preview" class="mt-4 mx-auto h-24 w-auto object-cover hidden" src="#" alt="Uploaded Image Preview">

              <div class="mt-4 flex text-sm leading-6 text-gray-600 items-center justify-center">
                <label for="file-upload" class="relative cursor-pointer rounded-md bg-gray-400 font-semibold text-white focus-within:outline-none hover:bg-indigo-500 transition duration-300 p-2">
                  <span id="upload-text" class="font-lexend">Upload a file</span>
                  <input id="file-upload" name="file-upload" type="file" accept="image/png, image/jpeg" class="sr-only">
                </label>
                <p class="pl-2 font-lexend">or drag and drop</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>    
    </div>

    <div class="flex flex-col flex-1 w-full">
        <div class="flex flex-col w-full pl-8 pr-8"> 
        <label for="event-information" class="font-lexend font-semibold text-gray-700 text-xl pb-4">Event Information:</label>
        <textarea id="event-information" name="event-information" placeholder="Enter event information here..."
            class="w-full h-96 bg-white border border-gray-400 rounded-md text-gray-400 px-4 py-1.5 resize-none" required></textarea>
        </div>
        <div class="flex flex-col justify-end items-center h-full pb-8 pr-8">
            <button class="w-64 h-auto text-3xl bg-gray-400 border border-gray-400 rounded-lg flex items-center justify-center text-white font-lexend font-xl font-medium text-base leading-6 hover:bg-indigo-500 transition duration-300 px-4 py-4">Pop Event!</button>
        </div>
  </div>
  </form>
  {% endblock %}