{% extends "base-white.html" %}

{% block title %}Post an Event{% endblock %}

{% block content %}
  <form action="/create_event" method="post" enctype="multipart/form-data" class="max-w-screen-xl flex flex-wrap justify-center mx-auto pt-8 pb-8">
    
    <div class="flex flex-col max-w-3xl flex-1 border border-gray-200 shadow-xl rounded-xl p-8">
      <div class="flex flex-row space-x-4 pl-8 pr-8 justify-between items-left">
        <h2 class="font-lexend font-semibold text-4xl text-black mb-8"> Post an Event!</h2>
      </div>
      <!-- Event Name -->
      <div class="grid grid-col grid-cols-2 pl-8 pr-8">
        <div class="flex flex-col span-1 pr-2">
          <label for="event_name" class="font-lexend font-semibold text-gray-700 text-xl pb-4">Event Name:</label>
          <input id="event_name" name="event_name" type="text" placeholder="Event Name"
            class="w-full h-10 mb-4 bg-white border border-gray-400 rounded-md text-gray-400 px-4 py-1.5 focus:border-indigo-500" required>
        </div>
        <div class="flex flex-col span-1 pl-2">
          <label for="organization" class="font-lexend font-semibold text-gray-700 text-xl pb-4">Event Host:</label>
          <input id="organization" name="organization" type="text" placeholder="Host/Organization "
            class="w-full h-10 mb-4 bg-white border border-gray-400 rounded-md text-gray-400 px-4 py-1.5 focus:border-indigo-500" required>
        </div>
      </div>

      <!-- Date, Start Time, End Time -->
      <div class="flex flex-row space-x-4 pl-8 pr-8 justify-between items-left">
        <!-- Date -->
        <div class="flex flex-col">
          <label for="date" class="font-lexend font-semibold text-gray-700 text-xl pb-4">Date:</label>
          <input type="date"
            class="w-full h-10 mb-4 bg-white border border-gray-400 rounded-md text-gray-400 px-4 py-1.5" id="date"
            name="date" value="{{ tomorrow }}" min="{{ tomorrow }}" required/>
        </div>
        <!-- Start Time -->
        <div class="flex flex-col relative">
          <label for="start-time" class="text-gray-900 dark:text-white font-lexend font-semibold text-gray-700 text-xl pb-4 flex-shrink-0 mr-1">Start Time:</label>
              <select name="start-time" id="start-time" class="flex space-x-2 w-26 h-10 mb-4 rounded-md text-gray-400 px-4 py-1.5 bg-white p-2.5 pr-4">
                <option value="09">9 AM</option>
                  <option value="10">10 AM</option>
                  <option value="11">11 AM</option>
                  <option value="12">12 PM</option>
                  <option value="13">1 PM</option>
                  <option value="14">2 PM</option>
                  <option value="15">3 PM</option>
                  <option value="16">4 PM</option>
                  <option value="16">5 PM</option>
                  <option value="17">6 PM</option>
                  <option value="18">7 PM</option>
                  <option value="19">8 PM</option>
                  <option value="20">9 PM</option>
              </select>
      </div>
      
        <!-- End Time -->
        <div class="flex flex-col relative">
          <label for="end-time" class="text-gray-900 dark:text-white font-lexend font-semibold text-gray-700 text-xl pb-4 flex-shrink-0 mr-1">End Time:</label>
              <select name="end-time" id="end-time" class="flex space-x-2 w-26 h-10 mb-4 rounded-md text-gray-400 px-4 py-1.5 bg-white p-2.5 pr-4 dark:bg-gray-700 dark:border-gray-600">
                  <option value="10">10 AM</option>
                  <option value="11">11 AM</option>
                  <option value="12">12 PM</option>
                  <option value="13">1 PM</option>
                  <option value="14">2 PM</option>
                  <option value="15">3 PM</option>
                  <option value="16">4 PM</option>
                  <option value="17">5 PM</option>
                  <option value="18">6 PM</option>
                  <option value="19">7 PM</option>
                  <option value="20">8 PM</option>
                  <option value="21">9 PM</option>
              </select>
      </div>
      </div>

      <!-- Address and Room -->
      <div class="grid grid-cols-3 gap-4 pl-8 pr-8">
        <!-- Address -->
        <div class="flex flex-col col-span-2">
          <label for="location" class="font-lexend font-semibold text-gray-700 text-xl pb-4">Address:</label>
          <input id="location" name="location" type="text" placeholder="Address"
            class="w-full h-10 mb-4 bg-white border border-gray-400 rounded-md text-gray-400 px-4 py-1.5" required>
        </div>
        <!-- Room -->
        <div class="flex flex-col">
          <label for="room" class="font-lexend font-semibold text-gray-700 text-xl pb-4">Room:</label>
          <input id="room" name="room" type="text" placeholder="Room"
            class="w-full h-10 mb-4 bg-white border border-gray-400 rounded-md text-gray-400 px-4 py-1.5" required>
        </div>
      </div>
      <div class="grid grid-cols-4 gap-4 pl-8 pr-8">
        <div class="flex flex-col">
          <label for="allow_comments" class="text-gray-900 dark:text-white font-lexend font-semibold text-gray-700 text-xl pb-4 flex-shrink-0 mr-1">Comments:</label>
              <select name="allow_comments" id="allow_comments" class="flex space-x-2 w-24 h-10 mb-4 rounded-md text-gray-400 px-4 py-1.5 bg-white rounded-lg block p-2.5 pr-4 dark:bg-gray-700">
                  <option value="Yes">Allow</option>
                  <option value="No">Dont Allow</option>
              </select>
        </div>
        <div class="flex flex-col">
          <label for="capacity" class="font-lexend font-semibold text-gray-700 text-xl pb-4">Capacity:</label>
          <input type="number"
            class="w-20 h-10 mb-4 bg-white border border-gray-400 rounded-md text-gray-400 px-4 py-1.5" id="capacity"
            name="capacity" min="5" max="1000" required />
        </div>
        <div class="flex flex-col col-span-2">
          <label for="tags" class="font-lexend font-semibold text-gray-700 text-xl pb-4">Tags (Max 5):</label>
          
          <div class="w-54 h-10 mb-4 bg-white rounded-md">
              <input type="text" name="tags" value="ExampleTag" class="tagify w-full h-full overflow-y-auto leading-5 relative text-sm py-1.5 px-4 rounded-md bg-white focus:border-blue-500" id="tags" minlength="2">
          </div>
      </div>
        
      </div>
      <div class="flex flex-col flex-1 w-full">
        <div class="flex flex-col w-full pl-8 pr-16 sm:pr-8"> 
          <label for="event-information" class="font-lexend font-semibold text-gray-700 text-xl pb-4">Event Information:</label>
          <textarea id="event-information" name="event-information" placeholder="Enter event information here..."
              class="w-full h-96 bg-white border border-gray-400 rounded-md text-gray-400 px-4 py-1.5 resize-none p-8" required></textarea>
        </div>
      </div>
      <div class="flex flex-col w-full p-8">
        <div class="flex flex-col">
          <label for="cover-photo" class="font-lexend font-semibold text-gray-700 text-xl pb-4">Cover photo</label>
          <div class="mt-2 flex justify-center rounded-lg border border-dashed border-black px-6 py-10 h-64 flex-col justify-center">
            <div class="text-center">
              <!-- Image Preview -->
              <svg id="upload-icon" class="mx-auto h-12 w-12 text-gray-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd"></path>
            </svg>
            <img id="image-preview" class="mt-4 mx-auto h-24 w-auto object-cover hidden" src="#" alt="Uploaded Image Preview">

              <div class="mt-4 flex text-sm leading-6 text-gray-600 items-center justify-center">
                <label for="file-upload" class="relative cursor-pointer rounded-md bg-indigo-500 font-semibold text-white focus-within:outline-none hover:bg-indigo-900 transition duration-300 p-2">
                  <span id="upload-text" class="font-lexend">Upload a file</span>
                  <input id="file-upload" name="file-upload" type="file" accept="image/png, image/jpeg" class="sr-only">
                </label>
                <p class="pl-2 font-lexend">or drag and drop</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col justify-end items-left pl-8"  >
        <button class="self-start text-3xl bg-indigo-500 border border-gray-400 rounded-lg flex items-center justify-center text-white font-lexend font-xl font-medium text-base leading-6 hover:bg-indigo-900 transition duration-300 px-4 py-3">Pop Event!</button>
    </div>
      
      
    </div>    
    </div>

    
  </form>
  {% endblock %}