{% extends "base-white.html" %}

{% block title %}Update Profile{% endblock %}

{% block content %}
<div class="max-w-screen-xl flex flex-wrap justify-between mx-auto mt-8 mb-8 border border-gray-200 shadow-xl rounded-xl">
    <main class="max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex items-baseline justify-between border-b border-gray-200 pb-6 pt-6">
        
            <section aria-labelledby="products-heading" class="pb-24 pt-6">
                <div class="grid grid-cols-1 gap-x-1 gap-y-10 lg:grid-cols-1 hidden lg:block">
                    {% include "base-profile.html" %}

                </div>
            </section>
            
            <div class="bg-white p-6 rounded-lg shadow-lg max-w-xl mx-auto" style="position: relative; left: 175px; width: 500px; transform: translateX(0%);">
                
                <!-- enctype attribute is important for file upload to work -->
                <form id="profileForm" action="{{ url_for('edit_profile') }}" method="post" class="space-y-4" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}

        <!-- User fields, initially hidden -->
        <div id="usernameField">
            <label for="username" class="block text-sm font-medium text-gray-600">Username:</label>
            {{ form.username(id="username", class="mt-1 p-2 w-full border rounded-md") }}
            {% if form.username.errors %}
                <ul class="text-red-500 text-sm mt-1">
                    {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>


        <div id="passwordField">
            <label for="password" class="block text-sm font-medium text-gray-600">New Password:</label>
            {{ form.password(id="password", class="mt-1 p-2 w-full border rounded-md") }}
        </div>

        <div id="bioField">
            <label for="bio" class="block text-sm font-medium text-gray-600">Bio:</label>
            {{ form.bio(id="bio", class="mt-1 p-2 w-full border rounded-md") }}
            {% if form.bio.errors %}
                <ul class="text-red-500 text-sm mt-1">
                    {% for error in form.bio.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <!-- Profile Picture Update Field -->
        <div id="ImageDrop" class="flex flex-col w-full pb-4">
            <div class="flex flex-col">
              <label for="cover-photo" class="block text-sm font-medium text-gray-600">Profile Picture:</label>
                <div class="mt-2 flex justify-center rounded-lg border border-dashed border-black px-3 py-5 h-auto flex-col justify-center">
                    <div class="text-center">
                    <!-- Image Preview -->
                    <svg id="upload-icon" class="mx-auto h-12 w-12 text-gray-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd"></path>
                        </svg>
                    <img id="image-preview" class="mt-4 mx-auto h-24 w-auto object-cover hidden" src="#" alt="Uploaded Image Preview">
        
                    <div class="mt-4 flex text-sm leading-6 text-gray-600 items-center justify-center">
                        <label for="file-upload" class="relative bg-blue-700 hover:bg-blue-800 px-2 py-1 text-center self-start rounded-lg flex items-center justify-center text-white text-sm font-lexend font-medium text-base leading-6">
                        <span id="upload-text" class="font-lexend">Upload a file</span>
                        <input id="file-upload" name="file-upload" type="file" accept="image/png, image/jpeg" class="sr-only">
                        </label>
                        <p class="pl-2 font-lexend">or drag and drop</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                    <div>
                        <input type="submit" value="Update Profile" class="w-full relative bg-blue-700 hover:bg-blue-800 px-4 py-2 text-center self-start rounded-lg flex items-center justify-center text-white text-sm font-lexend font-medium text-base leading-">
                    </div>
                </form>
            </div>
      </div>
    </main>
</div>


<script>
    window.addEventListener('load', (event) => {
        let status = "{{ status }}";
        if (status === 'success') {
            alert('Your profile has been updated!');
        } else if (status === 'no_changes') {
            alert('No changes detected.');
        }
    });
    
    function toggleField(fieldId) {
        var field = document.getElementById(fieldId);
        if(field.style.display === "none") {
            field.style.display = "block";
        } else {
            field.style.display = "none";
        }
    }
</script>

{% endblock %}
