{% extends "base-white.html" %}

{% block title %}Update Profile{% endblock %}

{% block content %}
<div class="max-w-screen-xl flex flex-wrap justify-between mx-auto mt-8 mb-8 border border-gray-200 shadow-xl rounded-xl">
    <main class="max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex items-baseline justify-between border-b border-gray-200 pb-6 pt-6">
        
            <section aria-labelledby="products-heading" class="pb-24 pt-6">
                <div class="grid grid-cols-1 gap-x-1 gap-y-10 lg:grid-cols-1 hidden lg:block">
                    {% include "base-profile.html" %}

                </div>
            </section>
            
            <div class="bg-white p-6 rounded-lg shadow-lg max-w-xl mx-auto" style="position: relative; left: 175px; width: 500px; transform: translateX(0%);">

                <!-- Flash Messages -->
                {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="flash-{{ category }}">{{ message }}</div>
                {% endfor %}
                <h2 class="text-center mb-4 text-xl font-medium">Update Your Profile</h2>
                
                <!-- enctype attribute is important for file upload to work -->
                <form id="profileForm" action="{{ url_for('edit_profile') }}" method="post" class="space-y-4" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}

        <!-- User fields, initially hidden -->
        <div id="usernameField">
            <label for="username" class="block text-sm font-medium text-gray-600">Username:</label>
            {{ form.username(id="username", class="mt-1 p-2 w-full border rounded-md") }}
            {% if form.username.errors %}
                <ul class="text-red-500 text-sm mt-1">
                    {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <!-- Profile Picture Update Field -->
        <div id="profilepicField">
            <label for="profile_pic" class="block text-sm font-medium text-gray-600">Profile Picture:</label>
            <!-- File input for the profile picture -->
            <input type="file" id="profile_pic" name="profile_pic" class="mt-1 p-2 w-full border rounded-md">
            {% if form.profile_pic.errors %}
                <ul class="text-red-500 text-sm mt-1">
                    {% for error in form.profile_pic.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div id="passwordField">
            <label for="password" class="block text-sm font-medium text-gray-600">New Password:</label>
            {{ form.password(id="password", class="mt-1 p-2 w-full border rounded-md") }}
            {% if form.password.errors %}
                <ul class="text-red-500 text-sm mt-1">
                    {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div id="bioField">
            <label for="bio" class="block text-sm font-medium text-gray-600">Bio:</label>
            {{ form.bio(id="bio", class="mt-1 p-2 w-full border rounded-md") }}
            {% if form.bio.errors %}
                <ul class="text-red-500 text-sm mt-1">
                    {% for error in form.bio.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

                    <div>
                        <input type="submit" value="Update Profile" class="w-full p-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-400">
                    </div>
                </form>
            </div>
      </div>
    </main>
</div>


<script>
    window.addEventListener('load', (event) => {
        let status = "{{ status }}";
        if (status === 'success') {
            alert('Your profile has been updated!');
        } else if (status === 'no_changes') {
            alert('No changes detected.');
        }
    });
    
    function toggleField(fieldId) {
        var field = document.getElementById(fieldId);
        if(field.style.display === "none") {
            field.style.display = "block";
        } else {
            field.style.display = "none";
        }
    }
</script>

{% endblock %}
