{% extends "base-white.html" %}

{% block title %}
  Event Details
{% endblock title %}

{% block content %}
  {########################### Event Image Section ################################}
  {# TODO: image is responsive, but may cut off a bit of edges right now. Make the image clickable so that you can see the full image in a popup?#}
  {% if event.cover_photo %}
    <img class="responsive-img" src="data:image/jpeg;base64,{{ event.cover_photo | b64encode | safe }}" alt="event photo">
  {% else %}
    <img class="responsive-img" src="{{ url_for('static', filename='images/pop.png') }}" alt="event photo">
  {% endif%}
  
  {############################ Event Information Section ##############################}
  <div class="max-w-screen-xl flex flex-wrap justify-between mx-auto mt-8 mb-8 grid grid-cols-3 gap-2 sm:grid-cols-1">
    {# Left Column Section #}
    <div class="col-span-2 p-8 border border-gray-200 shadow-xl rounded-xl">
      <div class="flex justify-between items-top mb-6">
        <h1 class="inline-block text-5xl font-extrabold text-gray-900 lg:text-4xl dark:text-white">{{ event.event_name }}</h1>
        <div class="flex items-top">
          <button type="button" data-tooltip-target="tooltip-like"
            id="like-button" onclick="like({{event.id}})" class="interact-button text-red-500 border border-red-500 font-medium rounded-lg text-sm text-center flex items-center mr-2 p-2.5 {% if current_user.id == event.created_by %} cursor-not-allowed{% endif %}" {% if current_user.id == event.created_by %}disabled{% endif %}>
            {% if current_user.id in event.likes|map(attribute="author")|list %}
              <i id="heart-icon" class="fa-solid fa-heart fa-lg mr-2" style="color: #ff2600;" viewBox="0 0 512 512"></i>
            {% else %}
              <i id="heart-icon" class="fa-regular fa-heart fa-lg mr-2" style="color: #ff2600;" viewBox="0 0 512 512"></i>
            {% endif %}
            <span id="like-count">{{ event.likes|length}}</span>
          </button>
          {% if current_user.id == event.created_by %}
            <div id="tooltip-like" role="tooltip"
              class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-red-600 rounded-lg shadow-sm opacity-0 tooltip">You can't like your own event!
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          {% endif %}
          {# Like, Save icons #}
          {% if current_user.id in event.rsvps|map(attribute="author")|list %}
            <button type="button" id="rsvp-button" onclick="rsvp({{event.id}})" class="interact-button text-white bg-blue-700 border border-blue-700 font-medium rounded-lg text-sm text-center flex items-center mr-2 p-2.5 {% if current_user.id == event.created_by %}cursor-not-allowed{% endif %}" {% if current_user.id == event.created_by %}disabled{% endif %}>RSVP'd</button>
          {% else %}
            <button data-tooltip-target="tooltip-rsvp" type="button" id="rsvp-button" onclick="rsvp({{event.id}})" class="interact-button text-blue-700 border border-blue-700 font-medium rounded-lg text-sm text-center flex items-center mr-2 p-2.5 {% if current_user.id == event.created_by or event.rsvps|count >= event.capacity %}cursor-not-allowed{% endif %}" {% if current_user.id == event.created_by or event.rsvps|count >= event.capacity %}disabled{% endif %}>RSVP</button>
            {% if current_user.id == event.created_by %}
              <div id="tooltip-rsvp" role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-blue-600 rounded-lg shadow-sm opacity-0 tooltip">You can't RSVP for your own event!
                <div class="tooltip-arrow" data-popper-arrow></div>
              </div>
            {% elif event.rsvps|count >= event.capacity %}
              <div id="tooltip-default" role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-blue-600 rounded-lg shadow-sm opacity-0 tooltip">Shoot! This event is at full capacity, check back later to see if any spots open up!
                <div class="tooltip-arrow" data-popper-arrow></div>
              </div>
            {% endif %}
          {% endif %}
          </button>
        </div>
      </div>

      {# Date and time #}
      <div class="mb-3">
        <svg class="mr-2 inline-block" xmlns="http://www.w3.org/2000/svg" height="1.25em" viewBox="0 0 448 512">
          <path
            d="M96 32V64H48C21.5 64 0 85.5 0 112v48H448V112c0-26.5-21.5-48-48-48H352V32c0-17.7-14.3-32-32-32s-32 14.3-32 32V64H160V32c0-17.7-14.3-32-32-32S96 14.3 96 32zM448 192H0V464c0 26.5 21.5 48 48 48H400c26.5 0 48-21.5 48-48V192z" />
        </svg>
        <p class="text-gray-600 inline-block">{{ parsedDateTime }}</p>
      </div>
      <div class="mb-3">
        <svg class="mr-2 inline-block" xmlns="http://www.w3.org/2000/svg" height="1.25em"
          viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
        </svg>
        <p class="text-gray-600 inline-block">Hosted by: {{event.event_organization}}</p>
      </div>
      <div class="mb-3">
        <svg class="mr-2 inline-block" xmlns="http://www.w3.org/2000/svg" height="1em"
          viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path
            d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z" />
        </svg>
        <p class="text-gray-600 inline-block">Capacity: {{event.capacity}}</p>
      </div>
      <div class="mb-8">
        <i class="fa-solid fa-ticket fa-lg inline-block mr-1"></i>
        <p class="text-gray-600 inline-block"><span id="rsvp-count">{{ event.rsvps|length }}</span> <span id="rsvp-count-grammar">{% if event.rsvps|length == 1 %}person is{% else %}people are{% endif %}</span> attending</p>
      </div>

      
      {# About this event #}
      <h2 class="mb-4 text-2xl font-bold text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">About this event</h2>
      <p class="text-gray-600 mb-8">{{ event.event_information }}</p>

      {# Comment Section #}
      {# Create comment form #}
      <h2 class="mb-4 text-2xl font-bold text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">Comments</h2>
      <div class="mb-6">
        <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
          <label for="comment" class="sr-only">Your comment</label>
          <textarea id="comment" name="comment" rows="6" class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 dark:text-white dark:placeholder-gray-400 dark:bg-gray-800" placeholder="Write a comment..."
            required></textarea>
        </div>
        <button onclick="comment({{event.id}})"
          class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
          Post comment
        </button>
      </div>

      {# Display all comments #}
      {# TODO: replace comment user photo with dynamic photo from database, once the profile page lets user upload a profile photo. #}
      <div id="comment-display">
        {% if comments %}
          {% for comment in comments %}
            <article class="p-6 mb-6 text-base bg-white border-t border-gray-200 rounded-lg dark:bg-gray-900">
              <footer class="flex justify-between items-center mb-2">
                <div class="flex items-center">
                  {% if comment.user.profile_pic %}
                    <p class="inline-flex items-center mr-3 font-semibold text-sm text-gray-900 dark:text-white"><img class="mr-2 w-6 h-6 rounded-full"
                        src="data:image/jpeg;base64,{{ comment.user.profile_pic | b64encode | safe }}" alt="Comment author">{{
                      comment.user.username }}</p>
                  {% else %}
                    <p class="inline-flex items-center mr-3 font-semibold text-sm text-gray-900 dark:text-white"><img class="mr-2 w-6 h-6 rounded-full"
                        src="../static/images/profile.png" alt="Comment author">{{
                      comment.user.username }}</p>
                  {% endif %}
                  <p class="text-sm text-gray-600 dark:text-gray-400">{{ moment(comment.datetime_created).format("MMM D, YYYY @ h:mma") }}</p>
                </div>
              </footer>
              <p>{{comment.text}}</p>
            </article>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    {# Right Column Section #}
    <div class="p-8 border border-gray-200 shadow-xl rounded-xl">

      {# Event Location Section #}
      <h2 class="mb-4 text-2xl font-bold text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">Event Location</h2>
      <div class="mb-1">
        <svg class="mr-2 inline-block" xmlns="http://www.w3.org/2000/svg" height="1.25em"
          viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" />
        </svg>
        {# TODO: Fix the sizing so it still looks nice when the address is longer. #}
        <p class="text-gray-600 inline-block">{{ event.location }}</p>
      </div>
      <div class="mb-6">
        <svg class="mr-1 inline-block" xmlns="http://www.w3.org/2000/svg" height="1em"
          viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path
            d="M96 64c0-35.3 28.7-64 64-64H416c35.3 0 64 28.7 64 64V448h64c17.7 0 32 14.3 32 32s-14.3 32-32 32H432 144 32c-17.7 0-32-14.3-32-32s14.3-32 32-32H96V64zM384 288a32 32 0 1 0 0-64 32 32 0 1 0 0 64z" />
        </svg>
        <p class="text-gray-600 inline-block">Room: {{ event.room }}</p>
      </div>
      <iframe class="mb-8 rounded-xl shadow-md" width="100%" height="400" style="border:0" loading="lazy" allowfullscreen referrerpolicy="no-referrer-when-downgrade" src="{{ google_maps_url }}"></iframe>
      
      {# Tags Section #}
      <h2 class="mb-4 text-2xl font-bold text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">Tags</h2>
      <div class="flex">
        {% for tag in tags %}
          <p class="bg-blue-600 py-2 px-3 text-white border text-xs font-sm rounded-lg mr-2">{{tag}}</p>
        {% endfor %}
      </div>
    </div>
  </div>

  {# Google Maps JS #}
  <script>(g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
      ({ key: {{GOOGLE_MAPS_API_KEY}}, v: "beta" });</script>
{% endblock content %}