{% extends "base-white.html" %}
{% import "components.html" as components %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="max-w-screen-xl flex flex-wrap justify-between mx-auto mt-8 mb-8 border border-gray-200 shadow-xl rounded-xl">
  <div class="w-full">
    <div class="top-liked-events-section p-10 border-b border-gray-200">
      <h1 class="inline-block text-4xl font-black text-gray-900 lg:text-4xl dark:text-white mb-6">Your Upcoming Events</h1>
      <div class="autocomplete-results" id="autocomplete-results"></div>
    
      <!-- Grid layout for event cards -->
      <div class="grid grid-cols-3 gap-4 overflow-x-auto" id="event-cards">
        {% for event in events %}
        {{ components.event_tile(event) }}
        {% endfor %}
      </div>
    </div>

    <div class="top-liked-events-section p-10 border-b border-gray-200">
      <h1 class="inline-block text-4xl font-black text-gray-900 lg:text-4xl dark:text-white mb-6">Top Liked Events</h1>
      <div class="autocomplete-results" id="autocomplete-results"></div>
    
      <!-- Grid layout for event cards -->
      <div class="grid grid-col-3" id="event-cards">
        {% for event in events %}
          {{ components.event_tile(event) }}
        {% endfor %}
      </div>
    </div>

    <div class="top-liked-events-section p-10 border-b border-gray-200">
      <h1 class="inline-block text-4xl font-black text-gray-900 lg:text-4xl dark:text-white mb-6">Popular Events Near You</h1>
      <div class="autocomplete-results" id="autocomplete-results"></div>
    
      <!-- Grid layout for event cards -->
      <div class="grid grid-col-3" id="event-cards">
        {% for event in events %}
        {{ components.event_tile(event) }}
        {% endfor %}
      </div>
    </div>

    <div class="top-liked-events-section p-8">
      <h1 class="inline-block text-4xl font-black text-gray-900 lg:text-4xl dark:text-white mb-6">Today</h1>
      <div class="autocomplete-results" id="autocomplete-results"></div>
    
      <!-- Grid layout for event cards -->
      <div class="grid grid-col-3" id="event-cards">
        {% for event in events %}
        {{ components.event_tile(event) }}
        {% endfor %}
      </div>
    </div>
    
  </div>
</div>
{% endif %}


{# <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <div class="w-full">
        {% if current_user.is_authenticated %}
            <div class="autocomplete-results" id="autocomplete-results"></div>
            
            <!-- Grid layout for event cards -->
            <div class="grid grid-col-3" id="event-cards">
                {% for event in events %}
                  {{ components.event_tile(event) }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div> #}
{% endblock %}
