{% extends "base-white.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="max-w-screen-xl flex flex-wrap justify-between mx-auto mt-8 mb-8 border border-gray-200 shadow-xl rounded-xl">
    <main class="max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex items-baseline justify-between border-b border-gray-200 pb-6 pt-6">
        
            <section aria-labelledby="products-heading" class="pb-24 pt-6">
                <div class="grid grid-cols-1 gap-x-1 gap-y-10 lg:grid-cols-1">
                    {% include "base-profile.html" %}

                </div>
            </section>
            
            <div class="bg-white p-6 rounded-lg shadow-lg max-w-xl mx-auto" style="position: relative; left: 175px; width: 500px; transform: translateX(0%);">
                <h2 class="text-center mb-4 text-xl font-medium">Your Profile</h2>
                
                <!-- Profile Image Section -->
                <div class="text-center mb-4">
                    <!--Dynamically set the image URL to the user's profile picture -->
                    {% if current_user.profile_pic %}
                        <!-- If a custom profile picture exists, use it -->
                        <img class="rounded-full h-32 w-32 object-cover mx-auto" src="data:image/jpeg;base64,{{ current_user.profile_pic | b64encode | safe }}" alt="Profile Picture">
                    {% else %} 
                        <!-- Otherwise, use a default placeholder image -->
                        <img src="../static/images/profile.png" alt="Profile Picture" class="rounded-full h-32 w-32 object-cover mx-auto">
                    {% endif %}
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-600">Name:</label>
                    <p class="mt-2 p-2 w-full border rounded-md">{{ current_user.username }}</p>
                </div>
                
                <div style="margin-top: 20px;">
                    <label class="block text-sm font-medium text-gray-600">Bio:</label>
                    <p class="mt-2 p-2 w-full border rounded-md">{{ current_user.bio }}</p>
                </div>
                <div style = "padding-top: 20px;"> </div>
                <a href="/edit_profile">
                    <input type="submit" value="Edit Profile" class="w-full p-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-400">
                </a>
                
            </div>
      </div>
    </main>
</div>

{% endblock %}
